/* --------------------------------- body --------------------------------- */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color: black;
}

body{
    width: 1350px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 14px;
}

/* --------------------------------- header --------------------------------- */

.frameMenu{
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: ivory;
}

.logo{
    width: 20%;
    height: 100px;
}

.logo img {
    width: 60%;
    margin-left: 100px;
}

.menu{
    width: 60%;
    height: 100px;
}

.menu > ul >li{
    padding: 30px 10px;
    width: fit-content;
    float: left;
    list-style: none;
    position: relative;
}

.menu >ul> li a{
    color: black;
    font-family: "sans-serif";
    font-size: 18px;
}

.menu >ul >li a:hover{
    color: red;
    padding-bottom: 5px;
    border-bottom: 3px solid red;
    transition: 0.5s;  
}
.menu ul li ul{
    position: absolute;
    top: 70px;
    display: none;
    width: 180px;
    min-height: 100px;
    padding: 0px 20px;
    /* background-color: ivory; */
    background-color: rgba(255, 255, 240, 0.9);
    border: 1px solid gray;
    border-radius: 0px 15px 0px 15px;
}
.menu ul li ul li {
    padding: 10px 0px;
}

.menu ul li:hover ul{
    display: block;
    
}
.account{
    width: 20%;
    height: 100px;
    display: flex;
}

.account div{
    padding: 25px 15px;
    font-size: 30px;
    color: blue;
}

.account i {
    color: gray;
}

.account i:hover {
    color: black;
}

.account .cart {
    position: relative;
}

.cart .cart-number {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: white;
    top: 25px;
    right: 8px;
    border-radius: 50%;
    color: red;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.slider {
    position: relative;
    width: 970px;
    height: 428px;
    background-color: pink;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    z-index: 2;
    box-shadow: 5px 10px 5px gray;
}

.slider-item {
    display: none;
}

.slider-item p {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.slider-item button {
    position: absolute;
    bottom: 40%;
    left: 10%;
    width: 150px;
    font-size: 20px;
    height: 50px;
    background: #6E3FFB;
    outline: none;
    border: none;
    color: white;
    transition: .3s linear;

}

.slider-item button:hover{
    background-color: black;
    border-radius: 20px 0 20px 0;
}


.slider-bnt span{
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 40px;
    color: white;
    opacity: 0.6;
}

.slider-bn2 {
    margin: -50px auto;
    width: 100px;
    height: 10px;
}

.slider-bn2 span {
    font-size: 10px;
    padding: 5px;
    margin: 0 auto;
    color: white;
    cursor: pointer;
}

span#btn-prev:hover, span#btn-next:hover{
    background-color: #f1f1f1;
    color: black;
    transition: all 0.3s ease-in-out;
}

#btn-prev {
    border-radius: 0px 20px 0px 20px;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#btn-next {
    border-radius: 20px 0px 20px 0px;
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/* --------------------------------- footer --------------------------------- */

footer{
    width: 100%;
    height: 450px;
    background-color: black;
    color: white;
    margin-top: 30px;
}

footer a{
    color: white;
}
.footer-top{
    width: 100%;
    height: 200px;
}

.footer-top > div{
    width: 50%;
    height: 100%;
    float: left;
}

.footer-top >.left{
    font-size: 45px;
    font-weight: bold;
    padding: 30px;
}

.footer-top >.right{
    font-weight: bold;
    padding: 100px;
}

.footer-top >.right input{
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    border-bottom: 3px solid white;
    background-color: black;
    color: white;
    padding-top: 20px;
    font-size: 16px;
}

.footer-top > .right button{
    background-color: #6E3FFB;
    width: 135px;
    height: 40px;
    color: white;
    outline: none;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
}

.footer-bottom{
    height: 250px;
    width: 100%;
}

.footer-bottom > div{
    height: 100%;
    width: 40%;
    float: left;
    padding: 0px 30px;
}

.footer-bottom > div li{
    padding: 15px 0 5px 0;
}

.footer-bottom > .right{
    border-top: 5px solid white;
    width: 60%;
}

.right ul {
    float: left;
    margin-right: 150px;
}